@page
@model CompletedTasksModel
@{
    ViewData["Title"] = "Done";
}

<h1>Done</h1>
<h5>Total Done: @Model.TotalComplete</h5>
<table class="table">
    <thead>
        <tr>
            <th style="width: 100px;">Actions</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var task in Model.Tasks)
    {
        <tr>
            <td>
                <!-- Mark Complete -->
                <form method="post"
                      asp-page-handler="Uncomplete"
                      asp-route-id="@task.Identifier"
                      class="d-inline">
                    <button type="submit" style="width: 100px;" class="btn btn-danger btn-sm" title="Mark uncomplete">Uncomplete</button>
                </form>
            </td>


            <td>
                <div>
                    @task.Description
                </div>
                <div class="text-muted small">
                    Completed: @(task.CompletedAt.HasValue ? task.CompletedAt.Value.ToString("d") : "-") | Created: @task.CreatedAt.ToString("d") | Due: @(task.DueAt.HasValue ? task.DueAt.Value.ToString("d") : "-")
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>